---
---

//$text-color: #212529;
//
//$blockquote-text-color: $text-color;
//$body-link-color: $text-color;
//$body-text-color: $text-color;
//$border-color: #CED4DA;
//$code-bg-color: #E9ECEF;
//$code-text-color: $text-color;
//$hr-border-color: #E9ECEF;
//$section-headings-color: #343A40;
//$table-border-color: #CED4DA;

$header-bg-color: #212529;
$header-bg-color-secondary: #343A40;

@import "{{ site.theme }}";

.page-header {
  padding: 0.5rem 0;

  .btn {
    padding: 0.3rem 0.5rem;
  }
}
