---
---

$blockquote-text-color: #212529;
$body-link-color: #212529;
$body-text-color: #212529;
$border-color: #CED4DA;
$code-bg-color: #E9ECEF;
$code-text-color: #212529;
$header-bg-color: #343A40;
$hr-border-color: #E9ECEF;
$section-headings-color: #159957;
$table-border-color: #CED4DA;

@import "{{ site.theme }}";

.page-header {
  background-image: none;
  padding: 0.5rem 0;
}

.main-content {
  a {
    text-decoration: underline;
  }

  figcaption {
    font-size: 0.8rem;
    text-align: right;
  }

  figure {
    margin: 0;
  }

  pre {
    border-radius: 0;
  }

  table td {
    border: none;
    vertical-align: top;
  }
}
