---
---

$header-bg-color: #352879;

// Text
// $section-headings-color: #159957 !default;
$body-text-color: #727272;
$body-link-color: #267CB9;
// $blockquote-text-color: #819198 !default;

// // Code
$code-bg-color: #F8F8F8;
$code-text-color: #303030;

// // Borders
// $border-color: #dce6f0 !default;
// $table-border-color: #e9ebec !default;
// $hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";

.page-header {
  background-image: none;
  padding: 0.5rem 0;
}

.main-content {
  figcaption {
    font-size: 0.8rem;
    text-align: right;
  }

  figure {
    margin: 0;
  }

  pre {
    border-radius: 0;
  }

  table td {
    border: none;
    vertical-align: top;
  }
}
